<blockquote>
	<small>
		Welcome on drum-machine.audio, a community-driven and web-based approach to rhythms and sounds sequencing. Here is what you will find here :
		<ul>
			<li>A drum machine with sounds, patterns built organizing sounds according to rhythmic patterns</li>
			<li>A way to create custom metronomes / beat loops</li>
			<li>
				Some data that users share publicly :
				<ul>
					<li>Patterns</li>
					<li>Samples</li>
				</ul>
			</li>
		</ul>
	</small>
</blockquote>