<footer>
	<div class="container">
		<p>
			This web application is open source and its <a target="_blank" href="https://github.com/codixy/drum-machine.audio">source code is available on Github</a>
		</p>
		<p>
			<a target="_blank" href="https://github.com/codixy/drum-machine.audio/issues">Report an issue or request a feature</a>
		</p>
	</div>
</footer>
