<footer>
	<div class="container">
		<p>This web application is source code and its <a target="_blank" href="https://github.com/codixy/drum-machine.audio">source code is available on Github</a></p>
	</div>
</footer>
