<header id="header" class="container">
	<div class="row">
		<div class="col-xs-12 col-sm-6">
			<h1 id="title">drum-machine.audio</h1>
			<b>A web-based <i>metronome</i> and <i>drum machine</i></b>
			<br />
			<br />
		</div>
		<div id="header-actions" class="col-xs-12 col-sm-6">
			<div class="row">
				<div class="user-actions col-xs-12">
					<div class="btn-group" role="group" aria-label="header-user-actions">
					</div>
				</div>
				<div class="page-actions text-right col-xs-12">
					<div class="row">
						<span class="current-mode label label-success"></span> <span class="current-mode-switch"></span>
					</div>
					<br />
					<div class="row">
						<div class="header-page-actions btn-group" role="group" aria-label="header-page-actions">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>
