<header id="header" class="container">
	<div class="row">
		<div class="col-xs-12 col-sm-4">
			<h1 id="title">drum-machine.audio</h1>
			<b>A web-based drum machine</b>
			<br />
			<br />
		</div>
		<div id="main-controls" class="col-xs-12 col-sm-4 text-center">
			<div class="row">
				<div class="col-xs-12 col-sm-6">
					Master volume
					<br />
					<input class="master-volume" value="70" />
				</div>
				<div class="col-xs-12 col-sm-6">
					Tempo (bpm)
					<br />
					<input class="tempo" value="120" />
				</div>
			</div>
		</div>
		<div id="header-actions" class="col-xs-12 col-sm-4 text-right">

		</div>
	</div>
</header>
