<header id="header" class="container">
	<div class="row">
		<div class="col-xs-12 col-sm-6">
			<h1 id="title">drum-machine.audio</h1>
			<b>A web-based drum machine</b>
			<br />
			<br />
		</div>
		<div id="header-actions" class="col-xs-12 col-sm-6 text-right">

		</div>
	</div>
</header>
