@CHARSET "UTF-8";

@font-face {
    font-family: 'Playball';
    src: url('/fonts/Playball/Playball-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: "MusiSync";
	src: url('/fonts/MusiSync.ttf');
	font-weight: normal;
	font-style: normal;
}

a {
    color: #337ab7;
    text-decoration: none;
}

a:hover {
    color: #5bc0de;
    text-decoration: none;
}

.music-note {
	font-family: "MusiSync";
}

#main-controls {
	padding-top: 4px;
}

.tab-pane {
	padding-top: 10px;
}

.play {
  -webkit-transition: all 1s ease 0s;
  -moz-transition: all 1s ease 0s;
  -o-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
  background: #ffffff;
  border: 10px solid #337ab7;
  border-radius: 50%;
  color: #777;
  cursor: pointer;
  display: inline-block;
  font-size: 20px;
  width: 70px;
  height: 70px;
  margin: 0.1em 0.2em;
  outline: none;
  vertical-align: top;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  margin-bottom: 6px;
}

.play:hover {
  border-color: #5bc0de;
}

#title {
  font-family: 'Playball';
  color: #337ab7;
  font-size: 40px;
  font-weight: bold;
}

#main-controls .control-label {
    vertical-align: top;
    display: inline;
}

/* Pattern editor */

#pattern-editor textarea.form-control {
	resize: none;
}

#pattern-editor .rhythmic-structure .structure-as-string {
	font-style: italic;
	font-weight: bold;
}

#pattern-editor .rhythmic-structure .edition-container input[type=number] {
	width: 60px;
}

#pattern-editor .rhythmic-structure .edition-container .well,
#pattern-editor .rhythmic-structure .edition-container .separator {
	margin-bottom: 4px;
}

#pattern-editor .sound-events-editor td:first-child {
	width: 100px;
}

#pattern-editor-right .panel .panel-body {
	padding-left: 21px;
	padding-right: 21px;
}
