{% extends "base.html.twig" %}

{% block body %}
<div id="homepage-tabpanel" role="tabpanel">

	<div class="panel panel-default">
		<div class="panel-body">
			<!-- Tab switcher -->
			<ul class="nav nav-pills" role="tablist">
			    <li role="presentation" class="active">
			    	<a href="#home" aria-controls="home" role="tab" data-toggle="tab">
			    		Home
			    	</a>
			    </li>
			    <li role="presentation">
			    	<a href="#patterns" aria-controls="patterns" role="tab" data-toggle="tab">
			    		Patterns
			    	</a>
			    </li>
			    <li role="presentation">
			    	<a href="#samples" aria-controls="samples" role="tab" data-toggle="tab">
			    		Samples
			    	</a>
			    </li>
			    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
				    <li role="presentation">
				    	<a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">
				    		Profile
				    	</a>
				    </li>
			    {% endif %}
			</ul>
			<!-- Tab panes -->
		  	<div class="tab-content">
		    	<div role="tabpanel" class="tab-pane active" id="home">
					{% include "AppBundle:default:home/home.html.twig" %}
		    	</div>
		    	<div role="tabpanel" class="tab-pane" id="patterns">
					{% include "AppBundle:default:patterns/patterns.html.twig" %}
		    	</div>
		    	<div role="tabpanel" class="tab-pane" id="samples">
		    		{% include "AppBundle:default:samples/samples.html.twig" %}
		    	</div>
		    	{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
			    	<div role="tabpanel" class="tab-pane" id="profile">
			    		{% include "AppBundle:default:profile/profile.html.twig" %}
			    	</div>
		    	{% endif %}
		  	</div>
		</div>
	</div>

</div>

{% endblock %}

{% block javascripts %}

    <script type="text/javascript">

        window.drumMachine = {
			timerWorkerFilename: "{{ asset('bundles/app/js/timer-worker.js') }}",
			sounds: {{ sounds|json_encode|raw }},
			patterns: {{ patterns|json_encode|raw }},
			format: (new Audio().canPlayType('audio/ogg') !== '' ? 'ogg' : 'mp3'),
			scheduleAheadTime:0.1,
			audioContext: new AudioContext(),
			loadedSounds: [],
			tempo: 120,
			currentTickIndex: 0,
			nextTickTime: 0.0,
			currentPattern: null,
			schedulerTimeInterval: 25, // Scheduler's time interval (in milliseconds)
			masterVolume: 100,
			tempo: 120,
			isPlaying: false,
			timerWorker: null
        };

    </script>

    <script type="text/javascript" src="/lib/jquery.knob.min.js"></script>
	{% javascripts
		'@AppBundle/Resources/public/js/patterns/pattern-editor.js'
       	'@AppBundle/Resources/public/js/audio.js'
        '@AppBundle/Resources/public/js/homepage.js'
        '@AppBundle/Resources/public/js/patterns/patterns.js'
    %}
    	<script type="text/javascript" src="{{ asset_url }}"></script>
	{% endjavascripts %}

{% endblock %}
